*, 
html,body {
    margin: 0;
    padding: 0;
}

:root {
    --bg-primary: rgb(30, 79, 255);
    --bg-secondary: rgb(255, 255, 139);
    --bg-third: rgb(219, 202, 202);
    --txt-primary: #f7f7f7;
    --txt-secondary: #222222;
    --txt-third: rgb(243, 243, 99);
}

.container {
    width: 100%;
    height: 100vh;
}

.wrapper {
    display: grid;
    grid-template-columns: 500px 1fr 350px;
}

.content {
    /* background-color: white; */
    /* margin: 10px; */
}

/*  */