*, 
html,body {
    margin: 0;
    padding: 0;
}

:root {
    --bg-primary: rgb(30, 79, 255);
    --bg-secondary: rgb(255, 255, 139);
    --bg-third: rgb(219, 202, 202);
    --txt-primary: #f7f7f7;
    --txt-secondary: #222222;
    --txt-third: rgb(243, 243, 99);
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--bg-secondary);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    width: 85vw;
    height: 85vh;
    background-color: white;
    box-shadow: 2px 2px 2px 2px black;
}

.title {
    justify-content: center;
}

#word-title {
    text-align: center;
    padding: 10px;
    font-size: 40px;
    font-family: "Fira Sans";
}

.description {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    height: 100%;
}

p {
    padding: 8px;
    text-align: left;
    color: black;
    font-family: "Concert One", sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.logo {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
    align-items: flex-end;
}

.pict {
    width: 100vw;
    border: 1rem dashed rgb(243, 184, 7);
    height: fit-content;
}

.icons {
    color: orange;
    font-size: 70px;
}

.icons1 {
    font-size: 70px;
    color: blue;
}

.icons2 {
    font-size: 70px;
    color: rgb(255, 255, 1);
}
