*, 
html,body {
    margin: 0;
    padding: 0;
}

:root {
    --bg-primary: rgb(30, 79, 255);
    --bg-secondary: rgb(255, 255, 139);
    --bg-third: rgb(219, 202, 202);
    --txt-primary: #f3b807;
    --txt-secondary: #222222;
    --txt-third: rgb(243, 243, 99);
}

.container {
    min-height: 200vh;
    /* background-color: var(--bg-secondary); */
    color: var(--txt-secondary);
}

.header {
    height: 700px;
    padding-left: 60px;
    background-image: url(wallhaven-y89del_1920x1080.png);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    border-radius: 0px 0px 30px 30px;
    overflow: hidden;
    animation: fadeInHeader 1.3s ease-in-out;
    font-family: "Fira Sans";
}

.navbar {
    /* position: relative; */
    bottom: 5px;
    display: flex;
    /* grid-template-columns: 550px 350px 150px ; */
    width: 100%;
    /* left: -20px; */
    justify-content: flex-end;
    flex-wrap: wrap;
}

.menu {
    margin-left: 10px;
    padding: 15px;
    margin-right: 10px;
    color: var(--txt-primary);
    text-align: right;
    font-family: "Concert One", sans-serif;
    font-size: 28px;
}

.heading {
    display: flex;
    position: relative;
    top: 200px;
    text-align: left;
    font-size: 80px;
    justify-content: flex-start;
    color: var(--txt-primary);
    animation: fadeInTitle 1.0s ease-in-out;
    animation-delay: 1.3s;
    animation-fill-mode: both;
    text-shadow: 1px 1px 0.5px black;

}

#sub-heading {
    margin-top: 5px;
    font-size: 20px;
    animation: fadeInTitle 1.3s ease-in-out;
    animation-delay: 1.6s;
    animation-fill-mode: both;
}

#sub-heading-2 {
    font-size: 20px;
    animation: fadeInTitle 1.3s ease-in-out;
    animation-delay: 1.6s;
    animation-fill-mode: both;
}
.wrapper {
    display: flex;
    /* margin: 50px; */
    margin-top: 70px;
    max-width: 100vw;
    /* grid-template-columns: 1fr 1fr; */
    justify-content: center;
    /* column-gap: 15px; */
    gap: 10px;
}

.summary {
    width: 600px;
    height: 350px;
    display: grid;
    background-color: white;
    box-shadow: 2px 2px 2px 2px black;
    padding: 20px;
    justify-content: center;
    align-content: center;
    gap: 15px;
    font-size: 18px;
    font-family: "Concert One",sans-serif;
}

.exploring {
    width: 600px;
    height: 350px;
    display: grid;
    background-color: white;
    box-shadow: 2px 2px 2px 2px black;
    padding: 20px;
    justify-content: center;
    align-content: center;
    gap: 15px;
    font-size: 18px;
    font-family: "Concert One",sans-serif;
}

#sum-title {
    text-align: center;
}

#exploring-title {
    text-align: center;
}

footer {
    display: none;
}

.menu:hover {
    color: var(--txt-third);
    transform:scale(1.1);
}

.summary:hover {
    transform: scale(1.1) translateX(20px);
}

.exploring:hover {
    transform: scale(1.1) translateX(-20px);
}

@keyframes fadeInHeader {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInTitle {
    from {
        opacity: 0;
        transform: translateX(-400px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media screen and (max-width: 768px) {
    .container {
        /* display: flex; */
        width: 100vw;
        height: 100vh;
        /* flex-direction:  */
    }
    .header {
        /* width: 90vw; */
        background-size: 100vw;
    }
    .navbar {
        left: -3vw;
    }
    .menu {
        text-align: left;
    }
    .heading {
        top: 23vh;
    }
    #sub-heading,#sub-heading-2 {
        margin-left: 5px;
        text-align: left;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        height: 80vh;
        justify-content: center;
        align-items: center;
        /* grid-template-columns: 1fr; */
        /* gap: 15px; */
        padding: 30px;
        max-width: 100vw;
    }
    .summary {
        width: 95%;
        height: 40vh;
        /* height: 100vh; */
    }
    .exploring {
        width: 95%;
        height: 30vh;
    }
    .summary:hover {
        transform: scale(1.1);
    }
    .exploring:hover {
        transform: scale(1.1);
    }
}

/* revisi summary dan exploring dan make sure semua sudah responsive */
/* revisi navbar peletakan grid */